venv/
src/__pycache__/
.idea/
.env

terraform/secrets.auto.tfvars
terraform/builds/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

kube/secrets.yaml